body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(112, 123, 127, 1)
}

h1{
    font-family: 'Playball', cursive;
    box-sizing: border-box;
    margin: 0;
    padding-left: 180px;
    padding-top: 20px;
    color: rgb(196, 134, 0);
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    font-size: 35px;    
}

.container{
    width: 100%;
}

.image{
    border-radius: 5px;
    height: 100px;
    width: 100px;
    transition: 0.4s;
    padding: 0;
    margin: 15px 0 0;
}

.imageContainer{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 75vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.image:hover{
  transform: scale(1.03);
  opacity: 1;
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 110px;
    margin-left: 180px;
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;
    overflow: auto;
    background-color: rgba(101, 113, 120, 0.707);
    transition: all 0.6s ease-out;
    animation-name: openModal;
    animation-duration: 1s;
}
@keyframes openModal{
    from{opacity: 0}
    to{opacity: 1}
}

.modalContent{
    box-sizing: border-box;
    display: flex;
    max-width: 500px;
    margin: 6% auto;
    background-color: rgba(60, 60, 60, 0.575);
    box-shadow: 0 3px 4px 2px rgba(93, 93, 93, 0.3), 0 3px 4px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease-out;
}

.modalTxtContent{
    color: 	#0e0d0d;
    flex: 1;
    margin-right: 10px;
    font-size: 5px;
}

.closeButton{
    margin-right: 10px;
    font-size: 20px;
}

.modalContent {
    font-size: 32px;
}
@media screen and(max-width: 425px){
    .image{
        height: 400px;
        width: 400px;
    }
}

@media screen and(max-width: 768px){
}

@media screen and(max-width: 1024px){
}

@media screen and(max-width: 1280px){
}